[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
logbook = "*"
"ruamel.yaml" = "*"
jishaku = "*"
"discord.py-pagination" = "*"
importlib-metadata = "*"
gracy = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}

[dev-packages]
