[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
logbook = "*"
transmission-rpc = "*"
"ruamel.yaml" = "*"
jishaku = "*"
"discord.py-pagination" = "*"

[dev-packages]
